*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    overflow:auto;
}

.background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
.background::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.01);
    z-index: 1;
}

.background iframe {
    pointer-events: none;
    position: relative;
    z-index: 2;
}
.title{
    max-width: 470px;
    background: rgba(249, 249, 249, 0.007);
    color: #333;
    margin: 3% auto;
    margin-bottom: -3%;
    border-radius: 20px;
    padding: 10px 5px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: oblique, inherit, italic;
    font-size: larger;
}
.card{
    width: 90%;
    max-width: 470px;
    background: rgba(249, 249, 249, 0.7); /* 70% transparent white */
    color : #333;
    margin: 5% auto 0;
    border-radius: 20px;
    padding: 40px 35px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.search{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.search input{
    border: 0;
    outline: 0;
    background: #fff;
    color: #333;
    padding: 10px 25px;
    height: 60px;
    border-radius: 30px;
    flex: 1;
    margin-right: 16px;
    font-size: 18px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search button{
    border: 0;
    outline: 0;
    background: #fff;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.search button img{
    width: 16px;
}
.weather-icon{
    width: 170px;
    margin-top: 30px;
}
.weather h1{
    font-size: 80px;
    font-weight: 500;
}
.weather h2{
    font-size: 45px;
    font-weight: 400;
    margin-top: -10px;
}
.details{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin-top: 50px;
}
.col{
    display: flex;
    align-items: center;
    text-align: left;
}
.col img{
    width: 40px;
    margin-right: 10px;
}
.humidity, .wind{
    font-size: 28px;
    margin-top: -6px;
}
.weather{
    display: none;
}
.error{
    text-align: center;
    margin-left: 10px;
    font-size: xx-large;
    margin-top: 10%;
    display: none;
}

@media screen and (max-width: 768px) {
    .title{
        background: rgba(249, 249, 249, 0.007);
        color: #333;
        width: 90%;
        max-width: 470px;
        padding: 10px 5px;
        font-size: smaller;
        margin-bottom: 1%;
    }
    .card {
        width: 90%;
        max-width: 470px;
        padding: 40px 20px;
    }
    .search input {
        padding: 10px 15px;
        font-size: 16px;
    }
    .search button {
        width: 50px;
        height: 50px;
    }
    .weather-icon {
        width: 120px;
    }
    .weather h1 {
        font-size: 60px;
    }
    .weather h2 {
        font-size: 30px;
    }
    .details {
        margin-top: 30px;
    }
    .col img {
        width: 30px;
    }
    .humidity, .wind {
        font-size: 20px;
    }
    .error {
        font-size: 24px;
    }
}
